.page-head
  %h2 Tables
  %ol.breadcrumb
    %li
      %a{:href => "#"} Home
    %li
      %a{:href => "#"} Tables
    %li.active General
.main-content
  .row
    .col-sm-12
      .widget.widget-fullwidth.widget-small
        .widget-head
          .tools
            %span.icon.s7-upload
            %span.icon.s7-edit
            %span.icon.s7-close
          .title Responsive Table
        .table-responsive.noSwipe
          %table.table.table-striped.table-fw-widget.table-hover
            %thead
              %tr
                %th{:width => "50%"} User
                %th{:width => "50%"} Commit Message
            %tbody.no-border-x
              - @chat_rooms.each do |chat_room|
                %tr
                  %td.user-avatar
                    = chat_room.name
                  %td
                    = link_to 'トーク', user_chat_room_path(current_user, chat_room), class: 'btn btn-default'
