.am-left-sidebar
  .content
    %ul.sidebar-elements
      %li.parent
        = link_to friends_user_path(current_user) do
          %i.icon.s7-users
          %span 友達
      %li.parent
        = link_to user_chat_rooms_path(current_user) do
          %i.icon.s7-chat
          %span トークルーム
      -# %li.parent
      -#   = link_to '' do
      -#     %i.icon.s7-check
      -#     %span トーク履歴
      %li.parent
        = link_to add_friends_user_path(current_user) do
          %i.icon.s7-add-user
          %span 友達を追加する
      %li.parent
        = link_to edit_user_registration_path do
          %i.icon.s7-settings
          %span 設定
