.am-left-sidebar
  .content
    %ul.sidebar-elements
      %li.parent
        = link_to "" do
          %i.icon.s7-monitor
          %span トップ
      %li.parent
        = link_to "" do
          %i.icon.s7-note2
          %span 過去の振込一覧
      %li.parent
        = link_to  do
          %i.icon.s7-check
          %span 引き落としをする
